@model List<GameOn.Web.Entities.Team>
@{
    Layout = "~/Views/Shared/_Layout_m.cshtml";
}

<div data-role="header">
    @if (ViewBag.Team1 == null)
    {
        <h1>Player 1</h1>    
    }
    else
    {
        var team = Model.First(p => p.Id == ViewBag.Team1);
        
        <h1>@team.Name <small>(@team.CurrentRank)</small> vs</h1>
    }
    <partial name="_Menu"/>
</div>

<div data-role="content">	
    <ol data-role="listview" data-inset="true" data-filter="true">
        @foreach (var team in Model)
        {
            if (ViewBag.Player1 == null)
            {
                <li><a href="/Matches/New?team1=@team.Id" data-transition="slide">@team.Name <small>(@team.CurrentRank)</small></a></li>     
            }
            else
            {
                if (team.Id != ViewBag.Player1)
                {
                    <li><a href="/Matches/Play?team1=@ViewBag.Team1&team2=@team.Id" data-transition="slide">@team.Name <small>(@team.CurrentRank)</small></a></li>
                }
            }
        }
    </ol>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#NewPlayerForm").validate();
        });
    </script>    

    <form id="NewPlayerForm" asp-action="New" asp-controller="Matches" method="POST" data-transformation="slide">
        <input type="hidden" name="Team1" value="@ViewBag.Team1"/>
        <input name="TeamName" placeholder="New team" class="required" /><button>Go</button>  
    </form>

</div>

